* {
  margin: 0;
  padding: 0;
  line-height: 0;
}

body {
  background-color: #ccc;
  text-align: center;
}

.container {
  width: 650px;
  margin: 10px auto;
  border: 5px solid white;
}

.thumbnail {
  width: 325px;
  float: left;
  box-sizing: border-box;
}

.thumbnail:hover {
  opacity: 0.5;
  cursor: pointer;
}

.clear {
  clear: both;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.active {
  opacity: 0.5;
}
